html, body {
  background-color: antiquewhite;
}

.content {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: .6fr 1fr .6fr;
  grid-template-rows: .7fr 1fr .7fr;

}



.form-div {
  display: grid;
  font-size: large;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-content: center;
}